{
  "rules": {
    "indent": [
      2,
      2
    ],
    "quotes": [
      2,
      "double"
    ],
    "no-multiple-empty-lines": [2, {
      "max": 2
    }],
    "newline-after-var": [2, "always"],
    // "linebreak-style": [
    //   2,
    //   "unix"
    // ],
    "semi": [
      2,
      "always"
    ],
    "eol-last": 2,
    "complexity": [2, 6],
    "max-depth": [2, 10],
    "curly": [2],
    // "space-infix-ops": [2, {
    //   "int32Hint": false
    // }],
    // "space-unary-ops": [1, {
    //   "words": true,
    //   "nonwords": true
    // }],
    "no-plusplus": [2],
    "strict": [2, "global"]
  },
  "env": {
    "browser": true
  },
  "extends": "eslint:recommended"
}
